<div>
    <h1>Carrito de Compras</h1>
    <div id="tableContainer">
        <table id="tableIndex" border="2" align="center">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
            </tr>
            {{#if isEmpty}}
            <tr>
                <td colspan="3" class="messageTable">{{message}}</td>
            </tr>
            {{/if}}
            {{#each cartTemplate}}
            <tr>
                <td>{{title}}</td>
                <td>{{price}}</td>
                <td><a href="/api/productos/{{id}}"><img src={{thumbnail}} alt="imagen" width="50px" /></a></td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div>
        <button><a href="/api/productos">Agregar productos</a></button>
    </div>
</div>