<h1>Productos</h1>
<div id="index">

  {{#if isEmpty}}

    <h3>{{message}}</h3>

  {{/if}}

  {{#if isAdmin}}

    <div>
      <h2>¡Hola Admin!</h2>
    </div>

    {{#each productsTemplate}}

      <div class="card card{{id}}">
        <span><img src={{thumbnail}} alt="imagen" width="50px" /></span>
        <h3>{{title}}</h3>
        <p><strong>Precio:</strong> US${{price}}</p>
        <button>Quitar Producto</button>
      </div>

    {{/each}}

    <div>
      <button id="btnAdd" onclick="showHideFormAdd()">Agregar Producto</button>
      <div id="addProductForm" style="display: none;">
        <form action="/api/productos" method="post">
          <label for="name_product">Nombre Producto</label>
          <input type="text" name="title" id="name_product" />
          <br />
          <br />
          <label for="info_product">Descripción Producto</label>
          <input type="text" name="description" id="info_product" />
          <br />
          <br />
          <label for="price_product">Precio Producto</label>
          <input type="number" name="price" id="price_product" />
          <br />
          <br />
          <label for="url_product">URL Imagen Producto</label>
          <input type="text" name="thumbnail" id="url_product" />
          <br />
          <br />
          <label for="stock_product">Stock Producto</label>
          <input type="number" name="stock" id="stock_product" />
          <br />
          <br />
          <button type="submit" class="btn btn-success">Agregar</button>
        </form>
      </div>
    </div>

  {{else}}

    {{#each productsTemplate}}

      <div class="card card{{id}}">
        <span><img src={{thumbnail}} alt="imagen" width="50px" /></span>
        <h3>{{title}}</h3>
        <p><strong>Precio:</strong> US${{price}}</p>
        <button>Agregar al Carrito</button>
      </div>

    {{/each}}

  {{/if}}

</div>